.page-title {
	text-align: left;
	font-size: 2.5em;
	text-align: center;
}

.navbar-brand {
	font-size: 2em;
}

.card-header {
	text-align: left;
	font-size: 1.5em;
	font-style: bold;
}

.contact-text {
	font-size: .95em;
	font-style: italic;
}

.page-subnav {
	text-align: left;
	font-size: 1.15em;
	font-style: italic;
}

.sub-divide {
	text-align: right;
	font-size: 1.10em;
	font-style: italic;
}

.bibliographical {
	font-size: .9em;
	font-style: normal;
}

.body-text {
	font-size: 1em;
	font-style: normal;
	color: black;
}
